html {
  scroll-behavior: smooth;
}
.bookss:hover > .fa-comment-alt {
  color: rgb(3, 181, 235);
}
.bouncer {
  animation-duration: 1.5s;
  animation-name: bounceIn;
  /* animation: bounceIn 2s ease-in-out; */
}
.bouncer:active {
  transform: translateY(2px);
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.checks {
  padding: 10px;
}
.form-space {
  padding-top: 3vh;
}
.check-label {
  display: inline-block;
  vertical-align: middle;
}
.center {
  text-align: center;
}
.lefter {
  text-align: left;
}
.tester {
  background-color: grey;
}
.forms-c {
  /* text-align: center; */
  margin-left: 1vw;
  display: flex;
  justify-content: flex-start;
}
.widther {
  width: 60vw;
}
.widther2 {
  width: 20vw;
}
.padder {
  padding: 2vh;
  text-align: center;
}
.borderman {
  border: 1px solid rgb(216, 70, 70);
  border-radius: 9px;
}
.borderman2 {
  border: 1px solid rgb(70, 194, 216);
  border-radius: 9px;
}
.book-container {
  border: 1px solid grey;
  border-radius: 9px;
  padding: 1vh;
  /* width: 40vw; */
}
.book-outer {
  padding: 1vh;
}
.book-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.column-container {
  display: flex;
}
.right-column {
  width: 100%;
  display: flex;
}
.placers {
  padding: 2vh;
}
.cb-border {
  border: 1px solid rgb(70, 194, 216);
  border-radius: 9px;
  padding: 2vh;
}