html body {
  scroll-behavior: smooth;
  background-color: black;
}
.backc {
  background-color: black;
}
.navbar {
  margin-bottom: 0;
}
.bookss:hover > .fa-comment-alt {
  color: rgb(3, 181, 235);
}
.bouncer {
  animation-duration: 1.5s;
  animation-name: bounceIn;
  /* animation: bounceIn 2s ease-in-out; */
}
.bouncer:active {
  transform: translateY(2px);
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.toggle-thread {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 2vh;
}
.center {
  text-align: center;
}
.lefter {
  text-align: left;
}
.tester {
  background-color: grey;
}
.forms-c {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #a7afb2;
}
.form-width {
  width: 70vw;
}
.thread-form {
  margin-top: -4vh;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #be29ec !important;
  border-color: black !important;
  color: #d4d4d4;
}
.padder {
  padding: 2vh;
  text-align: center;
}
.borderman {
  border: 1px solid rgb(216, 70, 70);
  border-radius: 9px;
}
.borderman2 {
  border: 1px solid rgb(70, 194, 216);
  border-radius: 9px;
}
.book-container {
  border: 1px solid grey;
  border-radius: 9px;
  padding: 1vh;
  /* width: 40vw; */
}
.book-outer {
  padding: 1vh;
}
.book-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.placers {
  padding: 2vh;
}
.thread-outer {
  padding: 1vh 0 1vh 0;
}
.threads {
  padding-top: 1vh;
}
.thread-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding: 1vh;
  color: #d4d4d4;
  border-top: 0.101rem solid #dadedf;
  border-bottom: 0.101rem solid #dadedf;
}
.thread-image {
  width: 30vw;
}
.thread-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.delete-btn-container {
  padding-left: 1rem;
}
.link-opt {
  color: #dadedf;
}
.link-opt:hover {
  color: #63ace5;
  text-decoration: none;
}
.comment-form {
  display: flex;
  padding-left: 5vw;
  justify-content: left;
  margin-top: -1vh;
}
.comment-width {
  width: 75vw;
}
.comment-details {
  display: flex;
  flex-direction: row;
}
.comment-button {
  margin-left: 1rem;
  height: 2.5rem;
  width: 6rem;
  text-align: center;
}
.comment-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1vh;
  color: #d4d4d4;
  border-top: 0.101rem solid #dadedf;
  border-bottom: 0.101rem solid #dadedf;
}
.toggle-karma {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .thread-image {
    width: 60vw;
  }
  .thread-username {
    font-size: 1rem;
    color: #dadedf;
  }
  .thread-subject {
    font-size: 1.1rem;
  }
  .thread-message {
    font-size: 0.8rem;
    flex-wrap: wrap;
  }
  .thread-date {
    font-size: 0.8rem;
  }
  .comment-width {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .toolbar-toggle-buttonr {
    display: none;
  }
  .thread-container {
    padding-left: 3vh;
  }
  .thread-username {
    font-size: 1rem;
    color: #dadedf;
  }
  .thread-subject {
    font-size: 1.1rem;
  }
  .thread-message {
    font-size: 0.8rem;
    flex-wrap: wrap;
  }
  .thread-date {
    font-size: 0.8rem;
  }
}
